@use '../abstracts/mixins';
@use '../abstracts/variables';

$focus-font: 24px;


@mixin slide {
    transform: translateY(-100%);
    top: 0;
    font-weight: 700;
    font-size: $focus-font;
}

$size-image: 30px;
$color-icon: variables.$text-color;

.container {
    margin-top: #{$focus-font+10px};
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 2px solid variables.$text-color;
    transition: margin 0.5s;

    input {
        background-color: transparent;
        flex: 1;
        outline: none;
        border: none;
        caret-color: variables.$text-color;
    }

    .placeholder {
        position: absolute;
        transition: all 0.5s;
        @include mixins.absolute-center-y;

        &:not(.empty) {
            @include slide;
        }
    }

    &:focus-within .placeholder {
        @include slide;
    }

    svg {
        width: $size-image;
        height: $size-image;
        stroke: $color-icon;
    }

    @include mixins.desktop {
        .err_message {

            display: none;

            &.show {
                display: block;
                -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                position: absolute;
                right: 110%;
                width: 300px;
                text-align: right;
                color: red;
            }
        }
    }

    @include mixins.mobile {
        &:has(.show) {
            margin-bottom: $focus-font;
        }


        .err_message {

            display: none;

            &.show {
                display: block;
                -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                position: absolute;
                left: 0;
                bottom: -100%;
                color: red;
            }
        }
    }

    @include mixins.tablet {
        &:has(.show) {
            margin-bottom: $focus-font;
        }


        .err_message {

            display: none;

            &.show {
                display: block;
                -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                position: absolute;
                left: 0;
                bottom: -100%;
                color: red;
            }
        }
    }
}



@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}