@use '../abstracts/mixins';
$size-image: 40px;
$color-icon: blue;

.container {
    display: flex;
    position: relative;
    border-bottom: 1px solid black;

    input {
        flex: 1;
        outline: none;
        border: none;
    }

    .placeholder {
        @include mixins.absolute-center-y;

    }

    &:focus-within .placeholder {
        transform: translateX(50px)
    }

    svg {
        width: $size-image;
        height: $size-image;

        stroke: $color-icon;
    }
}