@use '../abstracts/mixins';
@use '../abstracts/variables';


@mixin slide {
    transform: translateY(-50%);
    top: 0;
}

$size-image: 40px;
$color-icon: variables.$text-color;

.container {
    margin-top: variables.$font-size;
    display: flex;
    position: relative;
    border-bottom: 2px solid variables.$text-color;

    input {
        flex: 1;
        outline: none;
        border: none;
        caret-color: variables.$text-color;
    }

    .placeholder {
        position: absolute;
        transition: all 0.5s;
        @include mixins.absolute-center-y;

        &:not(.empty) {
            @include slide;
        }
    }

    &:focus-within .placeholder {
        @include slide;
    }

    svg {
        width: $size-image;
        height: $size-image;

        stroke: $color-icon;
    }
}