@use '../abstracts/mixins';
@use '../abstracts/variables';

$focus-font: 24px;


@mixin slide {
    transform: translateY(-100%);
    top: 0;
    font-weight: 700;
    font-size: $focus-font;
}

$size-image: 30px;
$color-icon: variables.$text-color;

.container {
    margin-top: #{$focus-font+10px};
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 2px solid variables.$text-color;

    input {
        background-color: transparent;
        flex: 1;
        outline: none;
        border: none;
        caret-color: variables.$text-color;
    }

    .placeholder {
        position: absolute;
        transition: all 0.5s;
        @include mixins.absolute-center-y;

        &:not(.empty) {
            @include slide;
        }
    }

    &:focus-within .placeholder {
        @include slide;
    }

    svg {
        width: $size-image;
        height: $size-image;
        stroke: $color-icon;
    }

    @include mixins.desktop {
        .err_message {

            display: none;

            &.show {
                display: block;

                position: absolute;
                right: 110%;
                width: 300px;
                text-align: right;
                color: red;
            }
        }
    }
}