@use '../abstracts//variables';


$icon-fill-color: transparent;
$icon-fill-color-active: #543A14;

$icon-stroke-color: #543A14;
$icon-size: 50px;
$color-header: white;
$color-logout: red;
$color-item-tab: #A86523;

.container {
    display: flex;
    width: 100%;
    height: 100vh;

    .left-navigation {
        width: 250px;
        background-color: #FCEFCB;
        padding: 10px;

        div.title {
            background-color: rgba(255, 255, 255, 0.379);
            margin-bottom: 15px;
            margin-top: 15px;
            border-radius: 20px;

            img {
                width: 100%;

            }
        }

        ul.navigation__items {
            font-size: 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                list-style: none;
                font-size: inherit;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #dcb89442;
                    border-radius: 10px;

                    svg {
                        width: $icon-size + 10px;
                        height: $icon-size + 10px;
                    }

                    a {

                        transform: translateX(10px);
                    }
                }

                a {
                    font-size: inherit;
                    font-weight: inherit;
                    width: 100%;
                    color: $color-item-tab;
                    text-decoration: none;
                    transition: all 1s;
                }

                svg {
                    flex-shrink: 0;
                    width: $icon-size;
                    height: $icon-size;
                    stroke: $icon-stroke-color;
                    fill: $icon-fill-color;
                    box-sizing: border-box;
                    stroke-width: 1;
                    transition: all 1s;
                }


                &:has(> :global(.active)) {
                    font-weight: 900;

                    svg {
                        width: $icon-size + 10px;
                        height: $icon-size + 10px;
                        fill: $icon-fill-color-active;
                    }

                    a {

                        transform: translateX(10px);
                    }
                }

                div.title__collapse {
                    width: 100%;
                    display: flex;
                    font-size: inherit;
                    align-items: center;

                    .arrow {
                        flex: 1;
                        font-size: inherit;
                        text-align: end;

                        span {
                            display: inline-block;
                            transform: rotate(90deg);
                            transition: all 1s;

                        }
                    }
                }

            }



            li.collapse__container {

                color: $color-item-tab;

                &:hover {
                    background-color: transparent;
                }

                flex-direction: column;
                // align-items: flex-start;

                .title {
                    display: flex;
                    align-items: center;
                    font-size: inherit;
                    color: inherit;
                }

                &:has(ul.collapse) {
                    div.title__collapse {



                        .arrow {


                            span {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }

                ul.collapse__items {
                    font-size: inherit;
                    width: 100%;



                    li {
                        margin-left: 50px;
                        height: 40px;
                        transition: height 1s;

                        a {
                            color: $color-item-tab;
                        }

                        &:hover {
                            a {
                                font-weight: 900;
                            }
                        }
                    }

                    &.collapse {
                        li {
                            height: 0;
                            overflow: hidden;
                        }
                    }


                }
            }
        }
    }

    .content {
        flex: 1;
        overflow: hidden;

        background-color: rgb(255, 255, 255);

        .header {
            background-color: $color-header;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            font-size: 30px;

            h1 {
                font-size: inherit;
                font-weight: 700;
            }

            .log-out-group {
                font-size: inherit;
                display: flex;
                gap: 10px;
                cursor: pointer;
                align-items: center;
                z-index: 1;

                svg {
                    width: #{$icon-size - 10px};
                    height: #{$icon-size - 10px};
                    fill: $color-logout;
                    background-color: $color-header;
                    padding-left: 60px;
                    transform: translateX(calc(100% - 10px));
                    transition: all 1s;
                }

                div.label {
                    font-size: inherit;
                    color: $color-logout;
                    border: none;
                    background: transparent;


                }

                &:hover {
                    svg {
                        transform: translateX(0);

                    }
                }
            }
        }
    }
}